# IDE
.idea/

# Virtual environment
.venv/

# Datasets
data/*/*
other_data/

# Python build artifacts
*.egg-info/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# build files
src/

# plots/images
plots/
